#logophoto{
	position:relative;
	margin:auto;
	width:99%;
	height:30%;
	border:3px solid white;
	background-color:green;
	table-layout: auto;
}

#navbar{
	position:relative;
	margin:auto;
	width:99%;
	height:40px;
	border-radius: 3px solid white;
	background-color:blue
}

#meniu{
	float:left;
	margin-left:2px;
	width:19%;
	height:63.3%;
	border:3px solid white;
	background-color:yellow;
}

#continut{
	float:right;
	margin-right: 2px;
	width:78%;
	height:63.3%;
	border:3px solid white;
	background-color: red;
}

#container{
	margin:auto;
	width:60%;
	height:100%;
	border: 3px solid white;
	background-color:white;
}

#contact{
	margin:auto;
	width:60%;
	height:30%;
}

#logo{
	width:100%;
	height:100%;
}

#nume{
	text-align:left;
	width:500px;
	height:10px;
}

#mail{
	text-align:left;
	width:500px;
	height:10px;
}

#registerbut{
	position:absolute;
	bottom:0;
	right:0;
	margin:auto;
}

.registerbut{
	background-color:blue;
	margin:auto;
	font-size:15px;
	color:white;
	width:90px;
	height:25px;
}
.registerbut:hover{
	font-size:12px;
	color:white;
}

#loginbut{
	position:absolute;
	bottom:0;
	right:90px;
	margin:auto;
}
.loginbut{
	background-color:blue;
	margin:auto;
	font-size:15px;
	color:white;
	width:90px;
	height:25px;
}
.loginbut:hover{
	font-size:12px;
	color:white;
}

#homebut{
	position:absolute;
	margin:auto;
	left:0;
	top:8;
}
.homebut{
	background-color:blue;
	width:90px;
	height:25px;
	font-size:15px;
	color:white;
}
.homebut:hover{
	font-size:12px;
	color:white;
}

#whybut{
	position:absolute;
	margin:auto;
	left:91px;
	top:8px;
}
.whybut{
	background-color:blue;
	width:90px;
	height:25px;
	font-size:15px;
	color:white;
}
.whybut:hover{
	font-size:12px;
	color:white;
}

#deseuribut{
	background-color:blue;
	position:absolute;
	margin:auto;
	left:182px;
	top:8px;
}
.deseuribut{
	width:90px;
	height:25px;
	font-size:15px;
	color:white;
	background-color:blue;
}
.deseuribut:hover{
	font-size:12px;
	color:white;
}

#textcontinut{
	color:white;
	font-size:18px;
	font-family:sans-serif;
	text-align:justify;
	padding-left:3px;
	padding-right:3px;
}

body{
	background-image: linear-gradient(#00FFFF,#003F3F);
	min-width:1000px;
	min-height:800px;
}

a{
	color:inherit;
	text-decoration: none;
}
