

#logophoto{
	margin:auto;
	width:99%;
	height:30%;
	border:3px solid white;
	background-color:green;
}

#navbar{
	margin:auto;
	width:99%;
	height:5%;
	border-radius: 3px solid white;
	background-color:blue
}

#meniu{
	float:left;
	margin-left:2px;
	width:19%;
	height:63.3%;
	border:3px solid white;
	background-color:yellow;
}

#continut{
	float:right;
	margin-right: 2px;
	width:79%;
	height:63.3%;
	border:3px solid white;
	background-color: red;
}

#container{
	margin:auto;
	width:60%;
	height:100%;
	border: 3px solid white;
	background-color:white;
}

#registerbut{
	margin:auto;
	float:right;
	padding-top:22%;
	}
.registerbut{
	background-color:blue;
	margin:auto;
	width:90px;
	height:30px;
	}
	
#loginbut{
		margin:auto;
		float:right;
		padding-top:22%;
}

.loginbut{
	background-color:blue;
	margin:auto;
	width:90px;
	height:30px;
}
body{
	background-image: linear-gradient(#99ebff,#007a99);
}
